.full-screen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-book-form {
  display: flex;
  flex-direction: column;
  max-width: 40vw;
  width: 100%;
  margin: 0 auto;
}

.mat-form-field {
  margin-bottom: 24px;
}

.full-width {
  width: 100%;
}
