.books-container, .search-container {
  padding: 24px 48px;
}

.books-header {
  padding: 24px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 32px;
}

.no-books {
  text-align: center;
}
